@charset "utf-8";
/* CSS Document */
body {
	background: orange;
}
.road {
	border-bottom: 7px dashed black;
}
.runner {
	/*this is the image which is animated below*/ 
background:url(../images/Cartoon.png) no-repeat;
	width: 94px;
	height: 190px;
	/*code below shows the speed of the steps*/ 
animation: walk 1.2s steps(8) infinite, forward 5s linear infinite;
}
/*Code below use for walking animation*/ 
@keyframes walk {
0% {
background-position: 0px;
}
100% {
background-position: -1472px;
}
}
@keyframes forward {
0% {
transform: translateX(-100px);
}
100% {
transform: translateX(1200px);
}
}
